<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">${hibernate.username}</property>
		<property name="hibernate.connection.password">${hibernate.password}</property>
		<property name="hibernate.connection.url">${hibernate.url}</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		
		<mapping class="com.amos.model.Person" />
	</session-factory>
</hibernate-configuration>
